.fixed-ratio-resize {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.search-box {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    text-align:center
}
.no-data {
    text-align: center;
}

.card-body {
  cursor: pointer;    
}

