.fixed-ratio-resize {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.search-box {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    text-align:center
}
.no-data {
    text-align: center;
}
#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color: #51A351 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }